In [1]:
import pandas as pd
df= pd.read_csv("DBS_SingDollar.csv")

In [2]:
X = df.loc[:,["SGD"]] 
Y = df.loc[:,['DBS']] 
print(X)

from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X,Y)
pred = model.predict(X)

         SGD
0    1.38925
1    1.38707
2    1.38324
3    1.38378
4    1.37595
..       ...
117  1.44655
118  1.44814
119  1.45018
120  1.44954
121  1.44766

[122 rows x 1 columns]

In [3]:
from sklearn.metrics import mean_squared_error 
rmse = mean_squared_error(Y,pred)**0.5 
print(rmse)
#print(rmse/Y.mean(axis=0)*100)
#save mode"
import joblib 
joblib.dump(model,"dbs.jl")
#load model
model = joblib.load("dbs.jl")

0.6283698867042151

In [4]:
model.coef_

array([[-50.60094302]])

In [5]:
model.intercept_

array([90.22858515])

In [6]:
df

     Unnamed: 0        Date    DBS      SGD
0             1   6/20/2017  20.45  1.38925
1             2   6/19/2017  20.60  1.38707
2             3   6/16/2017  20.45  1.38324
3             4   6/15/2017  20.41  1.38378
4             5   6/14/2017  20.59  1.37595
..          ...         ...    ...      ...
117         118  12/30/2016  17.09  1.44655
118         119  12/29/2016  17.13  1.44814
119         120  12/28/2016  17.22  1.45018
120         121  12/27/2016  17.19  1.44954
121         122  12/23/2016  17.14  1.44766

[122 rows x 4 columns]

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
[2024-01-20 14:47:34,650] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/app.py", line 2525, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/app.py", line 1822, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/app.py", line 1820, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/app.py", line 1796, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/var/folders/0_/359tzsp93l3dkmw2sbcc2z4w0000gp/T/ipykernel_24241/1286920673.py", line 12, in i
    return render_template("index.html", result ="Waiting..........")
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/templating.py", line 146, in render_template
    template = app.jinja_env.get_or_select_template(template_name_or_list)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/jinja2/environment.py", line 1081, in get_or_select_template
    return self.get_template(template_name_or_list, parent, globals)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/jinja2/environment.py", line 1010, in get_template
    return self._load_template(name, globals)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/jinja2/environment.py", line 969, in _load_template
    template = self.loader.load(self, name, self.make_globals(globals))
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/jinja2/loaders.py", line 126, in load
    source, filename, uptodate = self.get_source(environment, name)
                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/templating.py", line 62, in get_source
    return self._get_source_fast(environment, template)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/JustinHo/anaconda3/lib/python3.11/site-packages/flask/templating.py", line 98, in _get_source_fast
    raise TemplateNotFound(template)
jinja2.exceptions.TemplateNotFound: index.html
127.0.0.1 - - [20/Jan/2024 14:47:34] "GET / HTTP/1.1" 500 -